pkgbase = cinny-desktop
	pkgdesc = Matrix client focusing primarily on a simple, elegant and secure interface.
	pkgver = 3.2.1
	pkgrel = 2
	url = https://cinny.in/
	install = cinny-desktop.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	depends = webkit2gtk
	depends = openssl
	depends = gtk3
	depends = appmenu-gtk-module
	depends = libappindicator-gtk3
	depends = librsvg
	depends = libvips
	depends = sqlite
	depends = gst-plugins-good
	source = cinny-desktop-3.2.1.zip::https://github.com/cinnyapp/cinny-desktop/releases/download/v3.2.1/cinny-desktop-v3.2.1.zip
	source = rust-clipboard-fix.patch
	source = npm-clipboard-fix.patch
	sha512sums = d46e20e07d35cf2e9477325e3fd3c80e5b43024ff827624d88a577c7f0f507ab1cce147959ce69b4a8f2a781b10234b493c5019bb9b0b50091f4320ca53f5c0d
	sha512sums = 710e4a6ef5bcf94ce737a1833eb981e65a73c10706993da746c209f07e5ea90095ad3367a2f00d979f3188a27602dbbc5aed489084315ca2a1b4db7c0e8472b0
	sha512sums = dd2b974e6a583a24f6a5248ac3aacf7d9b49dbd2abf2ae7de6de07d84138c99a65183cfc6a82765c1f04214b685beefa69c96ceb4cbd5fc649f79ea756d4bbb9

pkgname = cinny-desktop
