pkgbase = vesktop-bin
	pkgdesc = A cross platform electron-based desktop app aiming to give you a snappier Discord experience with Vencord pre-installed
	pkgver = 1.5.2
	pkgrel = 1
	url = https://github.com/Vencord/Vesktop
	arch = aarch64
	arch = x86_64
	license = GPL-3.0-only
	depends = electron30
	provides = vesktop=1.5.2
	provides = vencord-desktop=1.5.2
	conflicts = vesktop
	conflicts = vencord-desktop
	source = vesktop.sh
	sha256sums = SKIP
	source_aarch64 = vesktop-1.5.2-aarch64.deb::https://github.com/Vencord/Vesktop/releases/download/v1.5.2/vesktop_1.5.2_arm64.deb
	sha256sums_aarch64 = SKIP
	source_x86_64 = vesktop-1.5.2-x86_64.deb::https://github.com/Vencord/Vesktop/releases/download/v1.5.2/vesktop_1.5.2_amd64.deb
	sha256sums_x86_64 = SKIP

pkgname = vesktop-bin
