pkgbase = arrpc-git
	pkgdesc = Open Discord RPC server for atypical setups
	pkgver = r120.c29adc0
	pkgrel = 1
	url = https://arrpc.openasar.dev/
	arch = x86_64
	arch = x86_64_v3
	license = MIT
	makedepends = npm
	depends = glibc
	depends = gcc-libs
	depends = nodejs
	provides = arrpc
	conflicts = arrpc
	source = arrpc-git::git+https://github.com/Justsnoopy30/arrpc.git#branch=linux-detection-fixes
	source = arrpc.service
	sha256sums = SKIP
	sha256sums = dccc409ef768766d8d4141f8d89366e0bbecd30d9b08d4d31856b01f180c4005

pkgname = arrpc-git
